@import "./globals.scss";

//==================== Header ====================//

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      i {
        font-size: 1.5rem;
        margin-top: 0.3rem;
        color: $primary-c;
      }

      h3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: $title-c;
      }
    }

    .nav__list {
      display: flex;
      gap: 2rem;

      @media only screen and (max-width: 768px) {
        position: fixed;
        top: unset;
        left: unset;
        bottom: 2%;
        left: 21%;
        transform: translate(0, 0);
        width: 55%;
        height: 10%;
        border-radius: 1rem;
        padding: 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 999;
      }

      @media only screen and (max-width: 468px) {
        width: 90%;
        height: 10%;
        left: 5%;
        gap: 1.5rem;
      }

      @media only screen and (max-width: 320px) {
        gap: 1.2rem;
        height: 15%;
      }

      .nav__item {
        a {
          .title {
            font-size: 1.1rem;

            @media only screen and (max-width: 768px) {
              display: none;
            }
          }

          .icons {
            display: none;

            @media only screen and (max-width: 768px) {
              display: inline-block;
              font-size: 2rem;
              color: $body-c;
            }

            @media only screen and (max-width: 468px) {
              display: inline-block;
              font-size: 1.7rem;
              color: $body-c;
            }

            @media only screen and (max-width: 320px) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

//==================== Footer ====================//

footer {
  @media only screen and (max-width: 992px) {
    padding: 1rem 5%;
  }

  .footer__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;

      @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
      }

      @media only screen and (max-width: 468px) {
        flex-direction: column;
      }

      .logo {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .profile {
          display: flex;
          align-items: center;
          gap: 0.2rem;

          i {
            font-size: 1.8rem;
            color: $primary-c;
            margin-top: 0.3rem;
          }

          h3 {
            font-size: 1.7rem;
            letter-spacing: 1px;
            color: $title-c;
          }
        }

        .social {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          li {
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: $primary-c;

              a {
                color: $body-c;
              }
            }

            a {
              font-size: 1.5rem;
              display: grid;
              place-items: center;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      .tautan {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        .box {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          a {
            color: $text-c;
            font-size: 1rem;
          }
        }
      }

      .jam {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        .box {
          display: flex;
          margin-bottom: 1rem;
          gap: 0.3rem;

          span {
            color: $text-c;
            font-size: 1rem;
          }
        }
      }

      .contact {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        .box {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          gap: 0.3rem;

          a {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            i {
              font-size: 1.2rem;
              color: $text-c;
              margin-top: 0.2rem;
            }

            span {
              color: $text-c;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: $text-c;

        a {
          color: $primary-c;
          font-weight: 600;
        }
      }
    }
  }
}

//==================== Not Found ====================//

.notFound {
  .notfound__container {
    padding: 1rem 5%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        color: $title-c;
        line-height: 1.5;
      }

      p {
        color: $text-c;
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        line-height: 1.5;
      }

      .btn {
        width: 250px;
        height: 60px;
        display: grid;
        place-items: center;
        background-color: $primary-c;
        border-radius: 12px;

        a {
          color: $body-c;
          font-size: 1.2rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}
