@import "./globals.scss";

//==================== Home ====================//

.home {
  position: relative;
  min-height: 100vh;

  &__container {
    padding: 1rem 5%;

    .content {
      position: absolute;
      background-color: $body-c;
      padding: 4rem 5%;
      width: 80%;
      height: 100%;
      top: 65%;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      left: 50%;
      transform: translate(-50%, -50%);

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        span {
          font-size: 1.1rem;
          letter-spacing: 1px;
          color: $text-c;
          margin-bottom: 1rem;
        }

        h1 {
          font-size: 3rem;
          margin-bottom: 1rem;
          line-height: 1.5;
          font-family: $sec-f;
          letter-spacing: 1px;
        }

        .img {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 50px;
            object-position: center bottom;
          }
        }
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//==================== About ====================//

.about {
  position: relative;
  margin-top: 15rem;

  &__container {
    padding: 1rem 5%;
    width: 100%;

    .content {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .img {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
          object-position: center bottom;
        }
      }

      .text {
        width: 100%;
        .box {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          span {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            letter-spacing: 1px;
          }

          h1 {
            font-size: 3rem;
            letter-spacing: 1px;
            font-weight: 800;
            font-family: $sec-f;
            margin-bottom: 1.5rem;
            color: $primary-c;
          }

          p {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 2rem;
          }

          .btn {
            width: 150px;
            height: 50px;
            background-color: $primary-c;
            display: grid;
            place-items: center;
            border-radius: 6px;

            a {
              color: $body-c;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

//==================== Services ====================//

.services {
  &__container {
    padding: 1rem 5%;

    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      background-color: transparent;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      padding: 2rem 5%;
      margin-top: 2rem;

      .box {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
        }

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          letter-spacing: 1px;
          line-height: 1.5;
          font-family: $sec-f;
        }

        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}

//==================== Services ====================//

.banner {
  &__container {
    padding: 1rem 5%;
    position: relative;
    min-height: 100vh;
    .banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 24px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

//==================== Product ====================//

.product {
  position: relative;
  min-height: 100vh;

  &__container {
    padding: 1rem 5%;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      gap: 2rem;
      margin-top: 1rem;

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .text {
          padding: 1rem 5%;
          h3 {
            font-size: 1.3rem;
            letter-spacing: 1px;
            color: $title-c;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 1rem;
          }

          span {
            font-size: 1.2rem;
            font-family: $sec-f;
            font-weight: 800;
          }

          .btn {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            gap: 1rem;
            width: 100%;

            .details {
              width: 150px;
              height: 50px;
              background-color: transparent;
              display: grid;
              place-items: center;
              border-radius: 6px;
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: $primary-c;
                color: $body-c;
              }
            }

            .checkout {
              width: 150px;
              height: 50px;
              background-color: $primary-c;
              display: grid;
              place-items: center;
              color: $body-c;
              border-radius: 6px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .filters__buttons {
      display: flex;
      gap: 1rem;

      button {
        width: 100px;
        height: 40px;
        color: $title-c;
        border: none;
        background-color: transparent;
        outline: none;
        border-radius: 6px;
        cursor: pointer;

        &.active {
          background-color: $primary-c;
          color: $body-c;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      overflow: hidden;
      transform: perspective(1000px) scale(0);
      transition: all 0.3s ease-in-out;

      &.open {
        transform: perspective(1000px) scale(1);
        visibility: visible;
      }

      &.close {
        transform: perspective(1000px) scale(0);
        visibility: hidden;
      }

      .modal__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        width: 90%;
        height: 90%;
        background-color: $body-c;
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        .img {
          width: 50%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .modal__text {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }

          .category__details {
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-bottom: 1rem;
            .size {
              font-size: 1.5rem;
              color: $text-c;
            }

            .category {
              width: 100px;
              height: 40px;
              background-color: $primary-c;
              display: grid;
              place-items: center;
              color: $body-c;
              border-radius: 12px;
              font-size: 1.3rem;
              letter-spacing: 1px;
              text-transform: uppercase;
            }
          }

          p {
            font-size: 1.3rem;
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }

          .price {
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin-bottom: 1rem;
          }

          .modal__close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 40px;
            height: 40px;
            background-color: $primary-c;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            .icons {
              font-size: 1.8rem;
              color: $body-c;
            }
          }
        }
      }
    }

    .form {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // visibility: hidden;
      // overflow: hidden;
      // transform: perspective(1000px) scale(0);
      // transition: all 0.3s ease-in-out;

      form {
        width: 80%;
        height: 80%;
        background-color: $body-c;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 6px;
      }
    }
  }
}

//==================== Testimonials ====================//

.testimonials {
  &__container {
    padding: 1rem 5%;

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        img {
          object-fit: cover;
          width: 150px;
          height: 150px;
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 1.3rem;
          letter-spacing: 1px;
          margin-bottom: 1rem;
          font-weight: 800;
          font-family: $sec-f;
        }

        p {
          font-size: 1.12rem;
          line-height: 1.5;
        }
      }
    }
  }
}

//==================== Testimonials ====================//

.contact {
  &__container {
    padding: 1rem 5%;

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 1rem;
      margin-top: 2rem;

      .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1rem 5%;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        overflow: hidden;

        .icons {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          color: $title-c;
        }

        h3 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
          letter-spacing: 1px;
          font-weight: 800;
        }

        p {
          font-size: 1.1rem;
          letter-spacing: 1px;
          font-weight: 300;
          margin-bottom: 1.5rem;
        }

        .btn {
          width: 150px;
          height: 50px;
          background-color: $primary-c;
          border-radius: 12px;
          display: grid;
          place-items: center;

          a {
            color: $body-c;
            font-size: 1.2rem;
          }
        }
      }
    }

    .maps {
      width: 100%;
      height: 100%;
      margin-top: 1rem;

      iframe {
        border-radius: 12px;
      }
    }
  }
}
